.order { 
    display: flex;
     align-items: center; 
     justify-content: space-between;
}

body {
  margin: 0% ;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-style: normal ;
}

header {
    background-image: url("../img/2.jpg");
    height: 100vh;
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat ;
    background-attachment: fixed;
}

h1,p,.liennav,h2{
    color: white;
    margin: 20px;
}

li {
    display: inline-block ;
    right: 20px ;
    
}
ul {
    margin-top: 20px;
    margin-left: auto;
}

button {
    background-color: violet ;
    padding: 14px;
    width: 207px;
    border-radius: 3px ;
    border-color: violet ;
}

a {    
    font-size: 16px;
    text-decoration: none;
}

nav {
    display: flex ;
}

.logo {
    flex: 2 ;
    margin-top: 0 ;
}


.liennav.active,.liennav:hover {
    border-bottom: violet solid 10px ;
    transition:all .4s ease ;
}

.logo {
flex: 5 ;
}

section {
    background-color: floralwhite ;
    height: 300px;
}

h2 {
    color: white;
    padding: 0% ;
    font-size: 19px ;
}

.intro2 {
    margin-top: -21px;
    font-size: 12px;
}

.intro3 {
    position: relative;
    top: 167px;
   
}

h1 {
font-size: 4em ;

}

.button {
   margin-left: 20px;
   margin-top: 51px;
}

.intro4 {
    font-size: 20px ;
}

.logo1 {
    display: flex ;
    flex-direction: row;
}

#logo {
margin: 20px;
margin-right: -15px;
}

.container {
    width: 1000px;
    margin: 0 auto ;
    padding-top: 20px ;
}

.here:hover {
    color: red ;
}

.here {
    color: white ;
    font-size: 20px ;
    border-bottom: 1px dotted #fff;
}

.livechat {
    position: fixed ;
    background-color: violet ;
}